<form [formGroup]="form" (ngSubmit)="submit()" class="p-fluid">

  <label>Numero factura</label>
  <input pInputText formControlName="numero_factura">

  <label>Cantidad</label>
  <input type="number" pInputText formControlName="cantidad">

  <label>Lote</label>
  <input pInputText formControlName="lote">

  <label>Registro INVIMA</label>
  <input pInputText formControlName="registro_invima">

  <label>Fecha de Vencimiento</label>
  <input type="date" pInputText formControlName="fecha_vencimiento">

  <label>Descripción del estado del producto</label>
  <input pInputText formControlName="descripcion_estado_producto">

  <label>Producto</label>
  <p-dropdown 
    [options]="productos" 
    optionLabel="nombre" 
    optionValue="id"
    formControlName="id_producto"
    placeholder="--Seleccione el producto--">
  </p-dropdown>

  <label>Proveedor</label>
  <p-dropdown 
    [options]="proveedores" 
    optionLabel="nombre_contacto" 
    optionValue="id"
    formControlName="id_proveedor"
    placeholder="--Seleccione el proveedor--">
  </p-dropdown>

  <div style="text-align:right;margin-top:8px">
    <button pButton label="Guardar" type="submit"></button>
  </div>

</form>
